/* colors */

$theme-colors: (
  primary: $primary,
  secondary: $secondary,
  accent-1: $accent-1,
  accent-2: $accent-2,
  light: $light,
  dark: $dark,
  white: $white,
  black: $black,
  success: $success,
  info: $info,
  warning: $warning,
  danger: $danger
);

$dark-colors: (
  primary: $primary,
  secondary: $secondary,
  accent-1: $accent-1,
  accent-2: $accent-2,
  light: $light,
  dark: $dark,
  white: $white,
  black: $black
);

$yiq-contrasted-threshold: 150 !default;

/* Text color */
$base-text-color: $dark;
$base-text-color-dark: $light;
$link-text-color: darken($accent-2, 20%);
$link-text-color-dark: $primary;

@each $name, $color in $theme-colors {
  .bg-#{$name}{
    background-color: $color !important;
  }

  .text-#{$name}{
    color: $color !important;
  }
}

@each $fname, $fcolor in $theme-colors {
  @each $bgname, $bgcolor in $theme-colors {
    .#{$fname}-on-#{$bgname}{
      color: $fcolor;
      background-color: $bgcolor;

      h1,.h1,h2,.h2,h3,.h3,h4,.h4,h5,.h5,h6,.h6 {
        color: inherit !important;
        a {
          color: inherit !important;
        }
      }
    }
  }
}

:root{
  @each $name, $color in $theme-colors {
      --#{$name}: #{$color};
  }
}
